<header
    class="flex flex-wrap justify-between p-8 border items-center shadow-md"
>
    <a href="/">
        <h1 class="text-3xl font-bold capitalize text-blue-800">GameVault</h1>
    </a>
    <% if (username) {%>
    <div class="flex items-center gap-4 text-lg">
        <p class="font-bold capitalize">welcome <%= username %></p>
        <a href="/users/logout" class="underline text-blue-500">logout</a>

        <a href="/games">Games List</a>
        <a href="/categories">categories</a>

        <a href="/games/create">Add Game</a>
        <a href="/categories/create">Add Category</a>
    </div>
    <%} else {%>
    <div class="flex items-center gap-4 underline text-blue-500 text-lg">
        <a href="/users/signup">signup</a>
        <a href="/users/login">login</a>
    </div>
    <% } %>
</header>
