<header class="flex justify-between p-8 border items-center shadow-md">
    <a href="/">
        <h1 class="text-3xl font-bold capitalize text-blue-800">GameVault</h1>
    </a>
    <div class="flex items-center gap-4 underline text-blue-500 text-lg">
        <a href="/games">Games List</a>
        <a href="/genres">Genres</a>
    </div>
    <div class="flex items-center gap-4 underline text-blue-500 text-lg">
        <a href="/games/create">Add Game</a>
        <a href="/genres/create">Add Genre</a>
    </div>
</header>
