<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>

    <body>
        <div class="grid grid-rows-layout min-h-screen">
            <%- include('../partials/header.ejs') %>

            <main class="m-8 overflow-y-auto">
                <p class="italic text-xl mb-8 pb-4 border-b-2 font-bold">
                    Welcome to
                    <span class="text-red-600">Members Only</span> clubhouse
                </p>
            </main>

            <!-- Footer -->
            <%- include("../partials/footer") %>
        </div>
    </body>
</html>
