<header
    class="flex flex-col sm:flex-row gap-4 justify-between p-8 items-center shadow-md bg-gray-950"
>
    <a href="/">
        <h1 class="text-3xl font-bold capitalize text-white">
            Members <span class="text-red-600"> Only</span>
        </h1>
    </a>
    <% if (user) {%>
    <div class="flex items-center gap-6 text-blue-400 text-lg font-bold">
        <p class="no-underline text-white">
            welcome
            <span class="text-red-600 capitalize"> <%= user.fullName %></span>
        </p>
        <% if (user.status === 'basic') {%>
        <a href="/user/membership-status" class="underline">Become a member</a>
        <% } %>
        <a href="/posts" class="underline">Posts</a>
        <a href="/posts/create" class="underline">Create post</a>
        <a href="/user/logout" class="underline">Logout</a>
    </div>
    <%} else {%>
    <div
        class="flex items-center gap-6 underline text-blue-400 text-lg font-bold"
    >
        <a href="/user/signup">signup</a>
        <a href="/user/login">login</a>
    </div>
    <% } %>
</header>
