:root {
	--main-font: sans-serif;
	--secondary-font: serif;
	--section-padding: 3rem;
	--header-bg: #0891b2;
	--gap-xl: 2rem;
	--gap-l: 1.5rem;
	--gap-default: 1rem;
	--gap-s: 0.7rem;
	--white-bg: #fff;
	--font-xl: 2rem;
	--main-font-color: #000;
}

/* --> General Styles */
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	min-height: 100vh;
	font-family: var(--main-font);
}
a {
	text-decoration: none;
}
img {
	display: block;
}
.social-icon {
	border-radius: 50%;
}
.content-container {
	width: min(900px, 100%);
	margin: 0 auto;
	padding-inline: var(--gap-xl);
}

@media (max-width: 300px) {
	.content-container {
		padding-inline: var(--gap-s);
	}
}

.section-title {
	text-transform: capitalize;
	font-size: var(--font-xl);
	font-family: var(--secondary-font);
}

/* --> Main Header Styles */
.main-header {
	padding-block: var(--section-padding);
	background-color: var(--header-bg);
}
.header-content {
	display: flex;
	align-items: center;
	justify-content: center;
}
.personal-photo {
	position: relative;
}
.my-name {
	position: absolute;
	bottom: var(--gap-default);
	width: 100%;
	text-align: center;
}
.about-me {
	flex: 1;
	background-color: var(--white-bg);
	padding: var(--gap-default);
	display: flex;
	flex-direction: column;
	gap: var(--gap-default);
}

.about-info {
	line-height: 1.3rem;
	padding-block: var(--gap-default);
}
.social-wrapper {
	align-self: flex-end;

	display: flex;
	gap: var(--gap-s);
}
/* ----> Main Header Mobile and Tablet Styles */
@media (max-width: 800px) {
	.main-header {
		padding: 0;
	}
	.header-content {
		flex-direction: column;
		gap: var(--gap-default);
	}
	.personal-photo {
		padding-top: var(--gap-default);
	}
	.about-me {
		align-items: center;
	}
	.social-wrapper {
		align-self: center;
	}
}

/* --> Main content Styles */
.main-content {
	padding-block: var(--section-padding);
}

.projects-container {
	padding-block: var(--section-padding);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
	gap: var(--gap-l);
}

/* ----> Project Styles */
.project-box {
	display: flex;
	flex-direction: column;
	box-shadow: 0px 4px 12px 0px #00000024;
	color: var(--main-font-color);
}
.project-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.project-title {
	text-transform: capitalize;
}
.project-links {
	display: flex;
	gap: var(--gap-s);
}
.project-header,
.project-content {
	padding: var(--gap-s) var(--gap-default);
}

/* --> Footer Styles */
footer {
	background-color: var(--header-bg);
	padding-block: var(--section-padding);
}
.footer-content {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	color: white;
	justify-content: center;
	gap: var(--gap-l);
}
.footer-info {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: var(--gap-default);
}
.footer-info > * {
	display: flex;
	gap: var(--gap-s);
	align-items: center;
}
@media (max-width: 745px) {
	.footer-img {
		display: none;
	}
}
